html {
  min-height: 100%;
  min-width: 100%;
  background-image: url(./images/alexachungfreedownload3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body {
  font-family: "Playfair Display", serif;
}
.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  margin-top: 0;
  color: black;
}
ul {
  list-style: none;
  display: inline-flex;
  margin-top: 0;
  color: black;
}
.home-button,
.about-button,
.project-button,
.shop-button {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 4px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ffffff !important;
}
.home-button:hover {
  color: #ffffff;
  transform: scale(1.5);
  transition: ease-in-out 0.4s;
}
.about-button:hover {
  color: #ffffff;
  transform: scale(1.5);
  transition: ease-in-out 0.4s;
}
.project-button:hover {
  color: #ffffff;
  transform: scale(1.5);
  transition: ease-in-out 0.4s;
}
.shop-button:hover {
  color: #323232;
  transform: scale(1.5);
  transition: ease-in-out 0.4s;
}
#the-project {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  height: min-content;
  position: sticky;
  text-align: center;
  line-height: 22px;
  margin: 0 50px 2px 50px;
  padding: 0 40px 40px 40px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 1px 1px 1px;
  position: static !important;
}
#the-project:hover {
  box-shadow: 3px 4px 3px;
  transition: ease-out 0.2s;
  transform: scale(1.05);
}
#fcc-link {
  text-decoration: underline;
  color: black;
}
#fcc-link:hover {
  display: flex;
  justify-content: center;
  color: #323232;
  transition: ease-out 0.2s;
  transform: scale(1.2);
}
#the-creator {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  position: sticky;
  text-align: center;
  line-height: 22px;
  margin: 380px 50px 2px 50px;
  padding: 0 40px 40px 40px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 1px 1px 1px;
}
#the-creator:hover {
  box-shadow: 3px 4px 3px;
  transition: ease-out 0.2s;
  transform: scale(1.05);
}
#container-project {
  display: flex;
  justify-content: space-between;
}
#contact-mail,
#contact-git {
  text-decoration: underline;
  color: black;
}
#contact-mail:hover,
#contact-git:hover {
  display: flex;
  justify-content: center;
  color: #323232;
  transition: ease-out 0.2s;
  transform: scale(1.2);
}
@media screen and (max-width: 650px) and (min-width: 280px) {
  html {
    max-height: 100%;
    max-width: 100%;
    background-image: none;
    background-color: gray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  body {
    max-width: 100%;
    background-image: url(./images/alexachungfreedownload3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
  ul {
    display: flex;
    list-style: none;
    max-width: 100%;
    justify-content: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: center;
  }
  li {
    font-size: 0.6rem;
    color: white;
  }
  a {
    color: white !important;
    text-decoration: none;
    align-self: center;
  }
  .nav-bar {
    display: flex;
    max-width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  #the-project {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    line-height: 22px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    box-shadow: 1px 1px 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    align-self: center;
  }
  #the-creator {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    line-height: 22px;
    margin: 0 50px 2px 50px;
    padding: 0 40px 40px 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    box-shadow: 1px 1px 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    align-self: center;
  }
  #container-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45%;
    padding: 0%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 650px) {
  html {
    max-height: 100%;
    max-width: 100%;
    background-image: none;
    background-color: gray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  body {
    max-width: 100%;
    background-image: url(./images/alexachungfreedownload3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
  ul {
    display: flex;
    list-style: none;
    max-width: 100%;
    justify-content: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: center;
  }
  li {
    font-size: 1rem;
    color: white;
  }
  a {
    color: white !important;
    text-decoration: none;
    align-self: center;
  }
  .nav-bar {
    display: flex;
    max-width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  #the-project {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    line-height: 22px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    box-shadow: 1px 1px 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    align-self: center;
  }
  #the-creator {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    line-height: 22px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    box-shadow: 1px 1px 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
    align-self: center;
  }
  #container-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45%;
    padding: 0%;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  ul {
    display: flex;
    list-style: none;
    max-width: 100%;
    justify-content: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: center;
    overflow-x: hidden;
  }
  li {
    font-size: 1rem;
    color: white;
  }
  a {
    text-decoration: none;
    align-self: center;
    color: white;
  }
  .nav-bar {
    display: flex;
    max-width: 100%;
    padding: 0;
    color: white;
  }
}
@media screen and (min-width: 2000px) {
  li {
    font-size: 2em;
  }
  #the-creator,
  #the-project {
    font-size: 2em;
    line-height: normal;
  }
}
